.Register-Body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
}
.Signup-body {
  width: 60vw;
  height: 60vh;
  background: white;
  display: flex;
  border-radius: 30px;
  box-shadow: 10px 10px 8px #888888;
}
.Signup {
  width: 30vw;
  /* height: 30vh; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.Signup-pic {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-header {
  font-weight: bolder;
  margin-top: 45%;
}
.signup-input {
  /* text-decoration: none; */
  /* border: none; */
  /* border: no; */
  margin-bottom: 13%;
  display: flex;
  border-bottom: 2px solid black;
}
.input {
  padding-left: 5%;
  border: none;
  /* border-bottom: 2px solid black; */
  /* transition: 0.5s; */
}
.register-btn {
  display: flex;
  justify-content: center;
  /* margin-top: 17%; */
  border: none;
  background: #2980b9;
  color: white;
  width: 30%;
  height: 5vh;
  border-radius: 7px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 17%;
}
.signup-a {
  text-decoration: none;
}
.error-p {
  color: red;
}
